/CodeDev/AF_Core/bin/Debug/VectorDraw.Serialize.xml
/CodeDev/AF_Core/bin/Debug/OpenVDF.dll
/CodeDev/AF_Core/bin/Debug/RenderFormats.dll
/CodeDev/AF_Core/bin/Debug/vdCommandLine.dll
/CodeDev/AF_Core/bin/Debug/vdCommandLine.xml
/CodeDev/AF_Core/bin/Debug/vdDXF.dll
/CodeDev/AF_Core/bin/Debug/vdFramedControl.dll
/CodeDev/AF_Core/bin/Debug/vdFramedControl.xml
/CodeDev/AF_Core/bin/Debug/vdPropertyGrid.dll
/CodeDev/AF_Core/bin/Debug/vdPropertyGrid.xml
/CodeDev/AF_Core/bin/Debug/VDrawBaseControl.dll
/CodeDev/AF_Core/bin/Debug/VDrawBaseControl.xml
/CodeDev/AF_Core/bin/Debug/vdScrollableControl.dll
/CodeDev/AF_Core/bin/Debug/vdScrollableControl.xml
/CodeDev/AF_Core/bin/Debug/vdxFcnv.dll
/CodeDev/AF_Core/bin/Debug/VectorDraw.Actions.dll
/CodeDev/AF_Core/bin/Debug/VectorDraw.Generics.dll
/CodeDev/AF_Core/bin/Debug/VectorDraw.Generics.xml
/CodeDev/AF_Core/bin/Debug/VectorDraw.Geometry.dll
/CodeDev/AF_Core/bin/Debug/VectorDraw.Geometry.xml
/CodeDev/AF_Core/bin/Debug/VectorDraw.Professional.dll
/CodeDev/AF_Core/bin/Debug/VectorDraw.Professional.xml
/CodeDev/AF_Core/bin/Debug/VectorDraw.Render.dll
/CodeDev/AF_Core/bin/Debug/VectorDraw.Render.xml
/CodeDev/AF_Core/bin/Debug/VectorDraw.Serialize.dll
/CodeDev/AF_Core/bin/Debug/VectorDraw.Serialize.xml
/CodeDev/AF_Core/obj/Debug/AF_Core.dll
/CodeDev/AF_Core/obj/Debug/AF_Core.pdb
/CodeDev/AF_Core/obj/Debug/AF_Core.vbproj.CoreCompileInputs.cache
/CodeDev/AF_Core/obj/Debug/AF_Core.vbprojAssemblyReference.cache
/CodeDev/AF_Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CodeDev/AF_Core/ProductAdmin/BO/dmProductBase.vb
/CodeDev/AF_Core/ProductAdmin/BO/dmProductInstallation.vb
/CodeDev/AF_Core/ProductAdmin/BO/dmProductInstallationType.vb
/CodeDev/AF_Core/ProductAdmin/BO/dmProductStructureType.vb
/CodeDev/AF_Core/ProductAdmin/DSO/dtoProductInstallationType.vb
/CodeDev/AF_Core/ProductAdmin/DSO/dtoProductStructureType.vb
/CodeDev/AF_Core/Production/BO/dmWorkOrderAllocation.vb
/CodeDev/AF_Core/Production/DSO/dtoWorkOrderAllocation.vb
/CodeDev/AF_Core/Sales/BO/clsSalesItemEditor.vb
/CodeDev/AF_Core/Sales/BO/clsSalesOrderPhaseItemInfo.vb
/CodeDev/AF_Core/Sales/BO/dmSalesOrderItem.vb
/CodeDev/AF_Core/Sales/BO/dmSalesOrderPhaseItem.vb
/CodeDev/AF_Core/Sales/DSO/dsoSales.vb
/CodeDev/AF_Core/Sales/DSO/dtoSalesOrderItem.vb
/CodeDev/AF_Core/Sales/DSO/dtoSalesOrderPhaseItemInfo.vb
/CodeDev/AF_ERP/bin/Debug/AF_Core.dll
/CodeDev/AF_ERP/bin/Debug/AF_Core.pdb
/CodeDev/AF_ERP/bin/Debug/AgroForestal.exe
/CodeDev/AF_ERP/bin/Debug/AgroForestal.pdb
/CodeDev/AF_ERP/bin/Debug/OpenVDF.dll
/CodeDev/AF_ERP/bin/Debug/RenderFormats.dll
/CodeDev/AF_ERP/bin/Debug/vdCommandLine.dll
/CodeDev/AF_ERP/bin/Debug/vdCommandLine.xml
/CodeDev/AF_ERP/bin/Debug/vdDXF.dll
/CodeDev/AF_ERP/bin/Debug/vdFramedControl.dll
/CodeDev/AF_ERP/bin/Debug/vdFramedControl.xml
/CodeDev/AF_ERP/bin/Debug/vdPropertyGrid.dll
/CodeDev/AF_ERP/bin/Debug/vdPropertyGrid.xml
/CodeDev/AF_ERP/bin/Debug/VDrawBaseControl.dll
/CodeDev/AF_ERP/bin/Debug/VDrawBaseControl.xml
/CodeDev/AF_ERP/bin/Debug/vdScrollableControl.dll
/CodeDev/AF_ERP/bin/Debug/vdScrollableControl.xml
/CodeDev/AF_ERP/bin/Debug/vdxFcnv.dll
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Actions.dll
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Generics.dll
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Generics.xml
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Geometry.dll
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Geometry.xml
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Professional.dll
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Professional.xml
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Render.dll
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Render.xml
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Serialize.dll
/CodeDev/AF_ERP/bin/Debug/VectorDraw.Serialize.xml
/CodeDev/AF_ERP/obj/Debug/AF_ERP.vbproj.CoreCompileInputs.cache
/CodeDev/AF_ERP/obj/Debug/AF_ERP.vbproj.FileListAbsolute.txt
/CodeDev/AF_ERP/obj/Debug/AF_ERP.vbproj.GenerateResource.cache
/CodeDev/AF_ERP/obj/Debug/AF_ERP.vbprojAssemblyReference.cache
/CodeDev/AF_ERP/obj/Debug/AgroForestal.exe
/CodeDev/AF_ERP/obj/Debug/AgroForestal.frmWorkOrderDetailConstruction.resources
/CodeDev/AF_ERP/obj/Debug/AgroForestal.pdb
/CodeDev/AF_ERP/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CodeDev/AF_ERP/Pickers/frmProductPicker.Designer.vb
/CodeDev/AF_ERP/Pickers/frmProductPicker.vb
/CodeDev/AF_ERP/Sales/GUI/fccSalesOrderDetailHouses.vb
/CodeDev/AF_ERP/Sales/GUI/fccWorkOrderDetailConstruction.vb
/CodeDev/AF_ERP/Sales/GUI/frmSalesOrderDetailHouses.vb
/CodeDev/AF_ERP/Sales/GUI/frmWorkOrderDetailConstruction.Designer.vb
/CodeDev/AF_ERP/Sales/GUI/frmWorkOrderDetailConstruction.resx
/CodeDev/AF_ERP/Sales/GUI/frmWorkOrderDetailConstruction.vb
/CodeDev/DBScripts/DBUpdate_20201007_AR_TODO.txt
/SystemFiles/SOArchivosSys/2020/00002/SalesOrder_2.pdf
